<!-- Right Navbar -->
<div class="r-navbar" id="nav-bar">
    <nav class="r-nav">
        <div>
        <a href="#" class="nav_logo">
            <i class="bx bx-layer nav_logo-icon"></i>
            <h5 class="nav_logo-name m-0">آخرین پست ها</h5>
        </a>
        <div class="nav_list">
            {%for post in rightbar_context %}
                <a href="{% url 'post' post.id %}" class="nav_link active"> <i class="bx bx-grid-alt nav_icon"></i> <span class="nav_name">{{ post.title|truncatechars:20 }}</span> </a>
            {% endfor %}
        </div>
        </div>
    </nav>
    </div>